## UPLOAD IMAGES
## GOTO RUNTIME, PRESS RUN ALL
## Wait UNTIL IT IS DONE , DOWNLOAD "DOWNLOAD_DATA.CSV" 
## DOWNLOAD_DATA.CSV IS LOCATED ON LEFT MENU FROM WHERE YOU CAN DOWNLOAD IT

In [40]:
!pip install pytesseract
import pytesseract
import pandas as pd
from PIL import Image 
import re
li_df = []
error = []
! apt install tesseract-ocr
! apt install libtesseract-dev
#pytesseract.pytesseract.tesseract_cmd = r'/usr/local/bin/pytesseract'

Requirement already satisfied: pytesseract in /usr/local/lib/python3.6/dist-packages (0.3.4)
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pytesseract) (7.0.0)
Reading package lists... Done
Building dependency tree
Reading state information... Done
tesseract-ocr is already the newest version (4.00~git2288-10f4998a-2).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 59 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
libtesseract-dev is already the newest version (4.00~git2288-10f4998a-2).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 59 not upgraded.

In [41]:
!ls *.jpg > files.txt

In [42]:
#!ls Sample/ > files.txt
#im = Image.open('/content/Screenshot_20200626_121754_asia.symplypost.simplypost.jpg')

In [43]:
def get_data(s):
    li = s.split('\n\n')
    address=""
    name=""
    phone = re.findall('\d{10}',s)
    if len(phone)>0:
        phone = "+" + re.sub('[^+0-9]+','',phone[0])        
    else:
        phone = "+00"
    x=0
    for ele in li:
        if len(ele)>1:
            if x==0:
                address = ele.strip()
                postal = re.findall('\d{6}', address)
                if len(postal) > 0:
                    postal = postal[0]
                else:
                    postal = "000000"
                address = address.replace('&','')[:-2].strip().replace('\n',',').replace('@','')
                x+=1
            elif x==1:
                name = ele.strip()
                name = re.sub('[^A-Za-z]+', '', name)
                break
    #print("ADDRESS -- " + address + "\tPOSTAL--" + postal + "\nNAME--" + name +"\nPHONE--"+phone+"\n_____________")
    if phone == "+00" or postal == "000000":
        error.append([name,phone,address,postal])
    else:
        if len(name) <= 2:
            name = address.split(',')[-1].strip()
            name = re.sub('[^A-Za-z]+', '', name)
            #address = address[:len(address)-len(name)]
            if len(name)==0:
                name = address.split(',')[0]
                name = re.sub('[^A-Za-z]+', '', name)
                #address = address[len(name):]
        if len(name)>=2:
            li_df.append([name,phone,address,postal])
        else:
            print(s)

In [44]:
with open('files.txt','r') as f:
    for line in f:
        path = "/content/"
        st = path + line.strip() 
        im = Image.open(st)
        s = pytesseract.image_to_string(im)
        s = s[s.find('\n\n')+2:s.find('\nDelivery')]
        s = s[:s.find('\n\n')]  + "," + s[s.find('\n\n')+1:]
        get_data(s)

& 21 LORONG 107 CHANGI
Singapore, 426442,
© Nad

C +6591804404

In [45]:
cols = ['Name','Phone','Address','PostalCode']
data = pd.DataFrame(li_df)
data.columns = cols

In [46]:
data

                       Name  ... PostalCode
0                 SLangeSim  ...     427059
1                SharonChew  ...     424210
2            JessicaHudiono  ...     426049
3                   LimKokB  ...     427104
4                   DennisL  ...     428478
5              GALAXYTOWERS  ...     424482
6                 RachelTan  ...     426049
7       JasperBryanCastillo  ...     426536
8                KoonSengRd  ...     427059
9                 SNataliaA  ...     424688
10        SShumathykrishnan  ...     424808
11              TIERRAVUEST  ...     424215
12                FezahRafe  ...     427483
13               LilianSiah  ...     427693
14                 MunChenL  ...     429671
15              SJoshuaQuek  ...     425464
16                   SAngie  ...     423400
17                AmeliaKoh  ...     424775
18                 Chalinee  ...     424163
19                     Tony  ...     428759
20               frankielim  ...     425513
21           STPATRICKSLOFT  ...     424166
22              ChitimonSee  ...     425602
23  SMahaletchumiAnbualagan  ...     429081
24             ChangWengLok  ...     425362
25                  Jaymeet  ...     424336
26                SMJSadang  ...     424183
27             SPredAnalyti  ...     424316
28               CORALISJOO  ...     427710
29                     Sher  ...     424229
30            SGarethGuyers  ...     427926
31                LeeLinMin  ...     424215
32         JulianWesterhoff  ...     425414
33                Fatmawati  ...     423936
34               SReginaYeo  ...     427408
35              Hazmanhasan  ...     420003
36   Provocativehaircouture  ...     428769
37             SLaiYewThong  ...     428100
38                  JessieG  ...     427999
39              SMarosDemko  ...     427711

[40 rows x 4 columns]

In [47]:
data.to_csv("/content/download_data.csv")

# FILE READY TO DOWNLOAD OR NOT -> CHECK BELOW

In [48]:
print(" <-----   YOU CAN DOWNLOAD THE EXCEL FILE NOW \n")

 <-----   YOU CAN DOWNLOAD THE EXCEL FILE NOW